@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "@vueform/multiselect/themes/default.css";

:root {
  --ms-ring-color: rgb(187 247 208);
  --ms-group-label-bg-selected: rgb(209,213,219);
  --ms-option-bg-selected: rgb(209,213,219);
  --ms-option-bg-selected-pointed: rgb(209,213,219);
    --ms-line-height: 1;
    --ms-max-height: 8rem;
    --ms-tag-line-height: 1rem;
    --ms-group-label-line-height: 1;
    --ms-option-line-height: 1;
}

.full-h-screen {
  min-height: 72vh;
}

.h-30 {
  height: 7.5rem;
}

.w-30 {
  width: 7.5rem;
}

.p-4 {
  padding: 1rem;
}

.md\:gap-2 {
    gap: 0.5rem;
}

.gap-2 {
    gap: 0.5rem;
}
