@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import "@vueform/multiselect/themes/default.css";
@import 'vue-datepicker-next/index.css';
@import 'sweetalert2/dist/sweetalert2.min.css';

/* Tailwind */
.h-30 {
  height: 7.5rem;
}

.w-30 {
  width: 7.5rem;
}

.p-4 {
  padding: 1rem;
}

.md\:gap-2 {
  gap: 0.5rem;
}

.gap-2 {
  gap: 0.5rem;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rotate-45 {
  transform: rotate(45deg);
}

.w-3 {
  width: 0.75rem; /* 12px */
}

.h-3 {
  height: 0.75rem; /* 12px */
}

/* Datepicker */
/*.mx-table-date .today {
  color: #166535;
  font-weight: bolder;
}

.mx-input:hover {
  border-color: #d1d5dbff;
}

.mx-input:focus {
  border-color: rgb(187 247 208);
}*/

/* Multiselect */
/*:root {
  --ms-ring-color: rgb(187 247 208);
  --ms-group-label-bg-selected: rgb(209,213,219);
  --ms-option-bg-selected: rgb(209,213,219);
  --ms-option-bg-selected-pointed: rgb(209,213,219);
}*/
